<template>
  <body class="bg-grey-lightest font-sans leading-normal tracking-normal">
    <div>
      <nuxt />
    </div>
  </body>
</template>

<style>
html {
  font-family: 'Quicksand', sans-serif;
  color: #000;
}
</style>
