<template>
  <div class="flex h-screen flex-col justify-center">
    <div class="text-center text-white text-2xl">
      <h1 class="mb-8">encypher.it</h1>
      <div class="mb-8">
        <a
          class="bg-transparent hover:bg-white text-white no-underline text-xl uppercase font-semibold hover:text-red py-2 px-4 mx-4 border border-white"
          :href="`${dashUrl}login`"
          >Login</a
        >
        <a
          class="bg-transparent hover:bg-white text-white no-underline text-xl uppercase font-semibold hover:text-red py-2 px-4 mx-4 border border-white"
          :href="`${dashUrl}register`"
          >Register</a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    apiUrl() {
      return this.$store.state.apiUrl
    },
    dashUrl() {
      return this.$store.state.dashUrl
    }
  }
}
</script>

<style></style>
