<template>
  <div class="flex h-screen flex-col justify-center">
    <div class="mx-3">
      <h1 class="flex justify-center text-red text-2xl mb-8">encypher.it</h1>

      <div
        class="flex justify-center m-auto shadow rounded to bg-white w-full lg:w-1/2 xl:w-1/3 border-solid border-t-4 border-red p-6 my-2"
      >
        <div v-if="inbox && !result">
          <div class="flex justify-between items-center">
            <h4
              class="text-grey-darker md:text-xl text-wide tracking-wide font-thin "
            >
              This message will be received by
              <span class="font-semibold">{{ inbox.email }}</span>
            </h4>
          </div>
          <p
            class="my-3 text-grey-dark font-light tracking-wide leading-normal text-sm"
          >
            pubkey fingerprint: {{ inbox.fingerprint }}
          </p>

          <div v-if="errors">
            Please fix the following errors:
            <ul>
              <li v-for="(alert, key) in errors" :key="key">
                {{ alert[0] }}
              </li>
            </ul>
          </div>

          <form id="sendMessage" @submit.prevent="sendMessage">
            <textarea
              id="message"
              v-model="message"
              name="message"
              required
              cols="30"
              rows="10"
              placeholder="Type your message"
              class="border-solid text-xs border w-full rounded px-3 py-2"
            ></textarea>
            <input
              v-model="sender"
              type="email"
              name="sender"
              required
              placeholder="Please enter your email"
              class="border-solid border w-full rounded px-3 py-2"
            />

            <input
              type="submit"
              value="Send message"
              class="bg-red text-white font-bold uppercase px-3 py-2 rounded w-full mt-4"
            />
          </form>
        </div>

        <div v-if="result" class="result text-center">
          <p
            class="text-grey-darker md:text-xl text-wide tracking-wide font-thin mb-4"
          >
            Your message has been sent to <strong>{{ result.email }}</strong
            >.
          </p>
          <p class="mb-8">Message ID: {{ result.id }}</p>
          <textarea
            id="encrypted"
            v-model="encrypted"
            name="message"
            required
            cols="30"
            rows="10"
            class="border-solid text-xs border w-full rounded px-3 py-2"
          ></textarea>
        </div>
      </div>

      <footer class="my-8">
        <p class="text-center my-4">
          <a class="text-xs text-red font-semibold" :href="dashUrl"
            >Create your own free account.</a
          >
        </p>
        <p class="text-xs text-grey-darker text-center">
          Made with <i class="text-red fa fa-heart"></i> by
          <a
            class="text-grey-darkest font-semibold"
            href="https://guillaume.moigneu.com"
            >Guillaume Moigneu</a
          >
          <br />
          <i class="fab fa-gitlab"></i>
          <a
            class="text-grey-darkest font-semibold"
            href="https://gitlab.com/gmoigneu/encypher.it"
          >
            Report an issue or contribute to the project</a
          >
        </p>
      </footer>
    </div>
  </div>
</template>

<style></style>

<script>
const openpgp = require('openpgp')
export default {
  data: function() {
    return {
      errors: null,
      result: null,
      encrypted: null,
      inbox: null,
      sender: null,
      message: null
    }
  },
  computed: {
    apiUrl() {
      return this.$store.state.apiUrl
    },
    dashUrl() {
      return this.$store.state.dashUrl
    }
  },
  watch: {
    apiUrl(value, old) {
      this.$axios
        .$get(`${value}inbox/${this.$nuxt._route.params.id}`)
        .then(response => (this.inbox = response.data))
    }
  },
  methods: {
    async encryptMessage() {
      const options = {
        message: openpgp.message.fromText(this.message),
        publicKeys: (await openpgp.key.readArmored(this.inbox.pubkey)).keys
      }

      return openpgp.encrypt(options).then(ciphertext => {
        const encrypted = ciphertext.data // '-----BEGIN PGP MESSAGE ... END PGP MESSAGE-----'
        return encrypted
      })
    },
    sendMessage() {
      this.encryptMessage().then(encrypted => {
        this.encrypted = encrypted
        this.$axios
          .$post(`${this.apiUrl}inbox/${this.$nuxt._route.params.id}/message`, {
            sender: this.sender,
            message: encrypted
          })
          .then(response => {
            this.result = response.data
            this.$track('add_event', {
              key: 'send-message',
              segmentation: { inbox: this.$nuxt._route.params.id }
            })
          })
          .catch(error => {
            if (error.response.data) {
              this.errors = error.response.data.errors
              console.log(this.errors)
            } else {
              alert(error.message)
            }
          })
      })
    }
  }
}
</script>
